        <div id="footer" class="ui inverted vertical footer segment">
            <div class="ui left aligned container">
                <div class="ui stackable inverted divided">
                    <p>Backpacking Adventures</p>
                </div>
            </div>
        </div>
    </body>
</html>